<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body class="container mask">
        <header><%- include('./partials/header'); %></header>

        <main>
            <div class="jumbotron">
                <h1>Hi this is user Nodejs/Typescrypt APP</h1>
                <p>Hello</p>

                <% if(user) { %>
                <p><%= user.firstName %> <%= user.lastName %></p>
                <% } %>
            </div>
        </main>

        <footer><%- include('./partials/footer'); %></footer>
    </body>
</html>
